@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body{
  height: 100%;  
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
} */

.container {
	position: relative;
	width: 320px;
	height: 200px;
	background: #ececec;
}

.floating-menu {
	position: absolute;
	right: 8px;
	bottom: 8px;
	height: 42px;
	text-align: right;
	/*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
	height: 150px;
	overflow: hidden;
}

.floating-menu.open .floating-menu-item {
	margin-top: 8px;
}

.floating-menu-item label{
	display: inline-block;
	margin-right: 8px;
	padding: 4px 10px;
	border-radius: 12px;
	background: rgba(0,0,0,.25);
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
	opacity: 0.4;
}

.floating-menu-icon{
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	background: #e53935;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	text-align: center;
}

.floating-menu-icon .material-icons {
	font-size: 32px;
	color: #fff;
	vertical-align: middle;
}
.btn1{
	margin-top: 100px;
}

/* Loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loader1{
    margin: 21% auto;
}  

.img1{
	width: inherit;
	height: 400px;
}
.fixed {
    position: fixed;
    width: 90%;
    bottom: 40px;
	/* border: 3px solid #8AC007; */
	float: right;
	text-align: right;
	transition: 0.3s;
} 
.img2{
	width: 100%;
	height: 300px;
}

.btn9{
	padding: 20px 30px;
	border: black solid 2px;
	border-radius: 50%;
	transition: 0.3s;
	background-color:#0069D9;
	color: white;
	font-size: 30px;
}

@media(max-width: 900px){
	.btn9{
		padding: 17px 22px;
	}
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 31%;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	margin-top: 20px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
	border-radius: 5px 5px 0 0;
  }
  
  .container {
	/* padding: 2px 16px; */
	height: 120px !important;
	padding-top: 22px !important;
	overflow: hidden;
	}
	.container1 {
		/* padding: 2px 16px; */
		height: 210px !important;
		padding-top: 22px !important;
		overflow: hidden;
		background-color: #ECECEC;
		}
		P{
			font-size: 18px;
		}
  h2{
	padding: 20px 0;
  }
  
  @media only screen and (max-width : 900px){
	.card {
	  width: 47%;
	}
  }
  @media only screen and (max-width : 550px){
	.container {
	  /* padding: 2px 16px; */
	  font-size: 14px;
	}
  }
  @media only screen and (max-width : 500px){
	.card {
	  width: 90%;
	}
	.container {
	  /* padding: 2px 16px; */
	  font-size: 16px;
	}
  }
  
  @media only screen and (max-width : 260px){
	.name{
	  font-size: 14px;
	}
	.container {
	  /* padding: 2px 16px; */
	  font-size: 12px;
	}
  }