.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button{
  padding: 10px 30px;
  margin: 5px;
}

input{
  margin: 5px 20px;
  width: 200px;
  height: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Form */

input{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  float: right;
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px 25px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 5px;
}
